<table
  class="row"
  style="
    border-collapse: collapse;
    border-spacing: 0;
    padding: 0;
    position: relative;
    text-align: left;
    vertical-align: top;
    width: 100%;
  "
>
  <tbody>
    <tr style="padding: 0; text-align: left; vertical-align: top">
      <th
        class="small-12 large-12 columns first last"
        style="
          color: #0a0a0a;
          font-family: Helvetica, Arial, sans-serif;
          font-size: 16px;
          font-weight: 400;
          line-height: 1.3;
          margin: 0 auto;
          padding: 0;
          padding-bottom: 16px;
          padding-left: 16px;
          padding-right: 16px;
          text-align: left;
          width: 564px;
        "
      >
        <table
          style="
            border-collapse: collapse;
            border-spacing: 0;
            padding: 0;
            text-align: left;
            vertical-align: top;
            width: 100%;
          "
        >
          <tbody>
            <tr style="padding: 0; text-align: left; vertical-align: top">
              <th
                style="
                  color: #0a0a0a;
                  font-family: Helvetica, Arial, sans-serif;
                  font-size: 16px;
                  font-weight: 400;
                  line-height: 1.3;
                  margin: 0;
                  padding: 0;
                  text-align: left;
                "
              >
                <h1
                  style="
                    color: inherit;
                    font-family: Helvetica, Arial, sans-serif;
                    font-size: 34px;
                    font-weight: 400;
                    line-height: 1.3;
                    margin: 0;
                    margin-bottom: 10px;
                    padding: 0;
                    text-align: left;
                    word-wrap: normal;
                  "
                >
                  <%- titleHead %>
                </h1>
                <%- include("../Other/SpacerTrasparentShort.ejs") %> <%
                parrafosHead.forEach(parrafo => { %> <%-
                include("../Paragraph/Paragraph2.ejs", {colorP:
                Colors[0].paragraph, parrafo: parrafo}) %> <% }); %>

                <p></p>
                <% productsList.forEach(product => { %> <%-
                include("../Grids/Col6CardImg2.ejs", { image1: product.image1,
                text1: product.text1, redirect1: product.link2, textBtn1: "Ver",
                image2: product.image2, text2: product.text2, redirect2:
                product.link2, textBtn2: "Ver" }) %> <% }); %>
              </th>
              <th
                class="expander"
                style="
                  color: #0a0a0a;
                  font-family: Helvetica, Arial, sans-serif;
                  font-size: 16px;
                  font-weight: 400;
                  line-height: 1.3;
                  margin: 0;
                  padding: 0 !important;
                  text-align: left;
                  visibility: hidden;
                  width: 0;
                "
              ></th>
            </tr>
          </tbody>
        </table>
      </th>
    </tr>
  </tbody>
</table>
