<a href="<%= redirectButton %>" target="_blank">
  <img
    src="<%- image %> "
    alt="image"
    style="
      -ms-interpolation-mode: bicubic;
      clear: both;
      display: block;
      max-width: 100%;
      outline: 0;
      text-decoration: none;
      width: auto;
    "
  />
</a>
