<table
  class="row"
  style="
    border-collapse: collapse;
    border-spacing: 0;
    display: table;
    padding: 0;
    position: relative;
    text-align: left;
    vertical-align: top;
    width: 100%;
  "
>
  <tbody>
    <tr style="padding: 0; text-align: left; vertical-align: top">
      <%- columns %>
    </tr>
  </tbody>
</table>
